<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction and jargon busting</td> </tr>
      <tr> <td>09:15</td>  <td>Formatting data in spreadsheets and handling common formatting problems</td> </tr>
      <tr> <td>09:30</td>  <td>Basic quality assurance and control</td> </tr>
      <tr> <td>10:20</td>  <td>Regular Expressions</td> </tr>
      <tr> <td>10:35</td>  <td>Break Time! </td> </tr>
      <tr> <td>11:00</td>  <td>Introduction to SQL and Basic Queries</td> </tr>
      <tr> <td>11:20</td>  <td>COUNT and GROUP BY</td> </tr>
      <tr> <td>11:40</td>  <td>Joins</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
